/*page1*/
#page1 {
  background: linear-gradient(to right, #eeb679, #e8e586);
}
#page1 h1 {
  color: #d3690e;
}
#page1 h2 {
  color: #6c5404;
}
@keyframes transform {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
#page1 img {
  display: block;
  position: absolute;
  bottom: -140px;
  right: -170px;
  animation: transform 1s 0.5s forwards;
  opacity: 0;
}

/*pinterlest*/
#pinterlest {
  width: 1080px;
  margin: auto;
  padding-top: 160px;
}
#pinterlest h1 {
  line-height: 75px;
  text-align: center;
  padding-bottom: 70px;
}
.out-box {
  width: 1080px;
  margin-bottom: 160px;
  position: relative;
}
.item {
  width: 20%;
  max-width: 200px;
  position: absolute;
}
.item img {
  border-radius: 15px;
  width: 100%;
}
.item p {
  font-weight: 700;
}
