/*page1*/
#page1 {
  background: linear-gradient(to right, #c5b6d5, #91c2ed);
}
.page1_inner {
  width: 90%;
  padding-left: 5%;
  position: relative;
}
#page1 h2 {
  padding-top: 410px;
  color: #3490c1;
  letter-spacing: -1px;
}
#page1 h1 {
  font-size: 80px;
  line-height: 110px;
  color: #000e45;
  letter-spacing: -3px;
}
@keyframes transform {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
#page1 img {
  display: block;
  position: absolute;
  bottom: -140px;
  right: -300px;
  animation: transform 1s 0.5s forwards;
  opacity: 0;
}

/*page2*/
#page2 {
  height: 3435px;
}
#page2 img:hover {
  transform: scale(1.05, 1.05);
}
#page2 img {
  transition: all 0.5s;
}
.page2_inner {
  width: 1250px;
  height: 3300px;
  margin: auto;
}
h4 {
  width: 494px;
  height: 700px;
  box-sizing: border-box;
  overflow: hidden;
}
.campaignbox1,
.campaignbox2,
.campaignbox3,
.campaignbox4 {
  height: 700px;
  box-sizing: border-box;
  margin: 160px 0 135px 0;
  letter-spacing: -1px;
  width: 98%;
}
.li1 {
  font-size: 26px;
  line-height: 30px;
  font-weight: 700;
}
.li3 {
  font-size: 55px;
  line-height: 60px;
  font-weight: 500;
  letter-spacing: -2px;
  transition: color 0.4s ease 0s;
  font-family: "BBTreeGB";
}
.li4 {
  margin-top: 40px;
  padding-bottom: 50px;
  font-size: 18px;
  line-height: 30px;
}
.campaignbox1:hover .li3 {
  color: #178b8a;
}
.campaignbox2:hover .li3 {
  color: #b4af5e;
}
.campaignbox3:hover .li3 {
  color: #c05a61;
}
.campaignbox4:hover .li3 {
  color: #6f3f0a;
}
.h4 {
  border: 0.5px solid #eee;
}
.campaignbox1 h4,
.campaignbox3 h4 {
  float: right;
  margin-left: 5%;
}
.campaignbox2 h4,
.campaignbox4 h4 {
  float: left;
}
.campaignbox1 ul,
.campaignbox3 ul {
  float: right;
  padding-top: 50px;
  padding-left: 15px;
  width: 555px;
  height: 700px;
  box-sizing: border-box;
}
.campaignbox2 ul,
.campaignbox4 ul {
  float: left;
  padding-top: 50px;
  padding-left: 80px;
  width: 555px;
  height: 700px;
  box-sizing: border-box;
}
#page2 .page2_inner li {
  margin-bottom: 10px;
}
.view-more {
  display: inline-block;
  padding: 8px 40px;
  font-weight: 700;
  background: #ffd588;
  color: #fff;
  font-size: 1.14rem;
}
.view-more:hover {
  background: orange;
  color: #fff;
}
